.container {
    display: grid;
    grid-template-columns: 1fr ;
}

.Page-Left {
    border: solid;
    display: grid;
    background-color: #f0f0f0;
    justify-self: right;
    width: 45%;
    margin-bottom: 10px;
}
.Page-Right {
    border: solid;
    display: grid;
    background-color: #f0f0f0;
    justify-self: left;
    width: 45%;
    margin-bottom: 10px;
}

.Page-Center {
    border: solid;
    display: grid;
    background-color: aqua;
    justify-self: center;
}